In [1]:
pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 3.5 MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [2]:
import category_encoders as ce
import pandas as pd
train_df=pd.DataFrame({'Degree':['High school','Masters','Diploma','Bachelors','Bachelors','Masters','Phd','High school','High school']})

# create object of Ordinalencoding
encoder= ce.OrdinalEncoder(cols=['Degree'],return_df=True,
                           mapping=[{'col':'Degree',
'mapping':{'None':0,'High school':1,'Diploma':2,'Bachelors':3,'Masters':4,'phd':5}}])

#Original data
train_df

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

        Degree
0  High school
1      Masters
2      Diploma
3    Bachelors
4    Bachelors
5      Masters
6          Phd
7  High school
8  High school

In [3]:
df_train_transformed = encoder.fit_transform(train_df)

In [4]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'City':[
'Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Bangalore','Delhi']})

#Create object for one-hot encoding
encoder=ce.OneHotEncoder(cols='City',handle_unknown='return_nan',return_df=True,use_cat_names=True)

#Original Data
data

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7  Bangalore
8      Delhi

In [5]:
data_encoded = encoder.fit_transform(data)
data_encoded

   City_Delhi  City_Mumbai  City_Hydrabad  City_Chennai  City_Bangalore
0         1.0          0.0            0.0           0.0             0.0
1         0.0          1.0            0.0           0.0             0.0
2         0.0          0.0            1.0           0.0             0.0
3         0.0          0.0            0.0           1.0             0.0
4         0.0          0.0            0.0           0.0             1.0
5         1.0          0.0            0.0           0.0             0.0
6         0.0          0.0            1.0           0.0             0.0
7         0.0          0.0            0.0           0.0             1.0
8         1.0          0.0            0.0           0.0             0.0

In [9]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'City':[
'Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Bangalore','Delhi']})



#Original Data
data

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7  Bangalore
8      Delhi

In [10]:
encoder.fit_transform(data)

   City_Delhi  City_Mumbai  City_Hydrabad  City_Chennai  City_Bangalore
0         1.0          0.0            0.0           0.0             0.0
1         0.0          1.0            0.0           0.0             0.0
2         0.0          0.0            1.0           0.0             0.0
3         0.0          0.0            0.0           1.0             0.0
4         0.0          0.0            0.0           0.0             1.0
5         1.0          0.0            0.0           0.0             0.0
6         0.0          0.0            1.0           0.0             0.0
7         0.0          0.0            0.0           0.0             1.0
8         1.0          0.0            0.0           0.0             0.0

In [12]:
import category_encoders as ce
import pandas as pd

#Create the dataframe
data=pd.DataFrame({'Month':['January','April','March','April','Februay','June','July','June','September']})

#Create object for hash encoder
encoder=ce.HashingEncoder(cols='Month',n_components=6)

data

       Month
0    January
1      April
2      March
3      April
4    Februay
5       June
6       July
7       June
8  September

In [13]:
encoder.fit_transform(data)

   col_0  col_1  col_2  col_3  col_4  col_5
0      0      0      0      0      1      0
1      0      0      0      1      0      0
2      0      0      0      0      1      0
3      0      0      0      1      0      0
4      0      0      0      1      0      0
5      0      1      0      0      0      0
6      1      0      0      0      0      0
7      0      1      0      0      0      0
8      0      0      0      0      1      0

In [18]:
import category_encoders as ce
import pandas as pd

#Create the dataframe
data=pd.DataFrame({'City':['Delhi','Mumbai','Hyderabad','Chennai','Bangalore','Delhi','Hyderabad','Mumbai','Agra']})

#Create an object for Base N Encoding
encoder= ce.BaseNEncoder(cols=['city'],return_df=True,base=5)

#Original Data
data

        City
0      Delhi
1     Mumbai
2  Hyderabad
3    Chennai
4  Bangalore
5      Delhi
6  Hyderabad
7     Mumbai
8       Agra

In [21]:
import pandas as pd
import category_encoders as ce

#Create the Dataframe
data=pd.DataFrame({'class':['A,','B','C','B','C','A','A','A'],'Marks':[50,30,70,80,45,97,80,68]})

#Create target encoding object
encoder=ce.TargetEncoder(cols='class') 

#Original Data
data

/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:94: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/category_encoders/target_encoder.py:99: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  category=FutureWarning)

  class  Marks
0    A,     50
1     B     30
2     C     70
3     B     80
4     C     45
5     A     97
6     A     80
7     A     68

In [22]:
encoder.fit_transform(data['class'],data['Marks'])

       class
0  65.000000
1  57.689414
2  59.517061
3  57.689414
4  59.517061
5  79.679951
6  79.679951
7  79.679951

In [23]:
import pandas as pd
import numpy as np

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [24]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [25]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [26]:
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [27]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [28]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num_cylinders, dtype: int64

In [30]:
cleanup_nums = {"num_doors":     {"four": 4, "two": 2}, "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}

In [31]:
obj_df = obj_df.replace(cleanup_nums)
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2.0,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2.0,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2.0,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4.0,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4.0,sedan,4wd,front,ohc,5,mpfi

In [32]:
obj_df.dtypes

make                object
fuel_type           object
aspiration          object
num_doors          float64
body_style          object
drive_wheels        object
engine_location     object
engine_type         object
num_cylinders        int64
fuel_system         object
dtype: object

In [33]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors           float64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [34]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,2.0,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2.0,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2.0,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4.0,sedan,fwd,front,ohc,4,mpfi,3
4,audi,gas,std,4.0,sedan,4wd,front,ohc,5,mpfi,3

In [35]:
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2.0,convertible,front,dohc,4,mpfi,0,0,0,1
1,alfa-romero,gas,std,2.0,convertible,front,dohc,4,mpfi,0,0,0,1
2,alfa-romero,gas,std,2.0,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4.0,sedan,front,ohc,4,mpfi,3,0,1,0
4,audi,gas,std,4.0,sedan,front,ohc,5,mpfi,3,1,0,0

In [36]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,2.0,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,2.0,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,2.0,front,ohcv,6,mpfi,2,0,0,1,0,0,0,0,1
3,audi,gas,std,4.0,front,ohc,4,mpfi,3,0,0,0,1,0,0,1,0
4,audi,gas,std,4.0,front,ohc,5,mpfi,3,0,0,0,1,0,1,0,0

In [37]:
obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [38]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [39]:
obj_df[["make", "engine_type", "OHC_Code"]].head()

          make engine_type  OHC_Code
0  alfa-romero        dohc         1
1  alfa-romero        dohc         1
2  alfa-romero        ohcv         1
3         audi         ohc         1
4         audi         ohc         1

In [40]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
obj_df["make_code"] = ord_enc.fit_transform(obj_df[["make"]])
obj_df[["make", "make_code"]].head(11)

           make  make_code
0   alfa-romero        0.0
1   alfa-romero        0.0
2   alfa-romero        0.0
3          audi        1.0
4          audi        1.0
5          audi        1.0
6          audi        1.0
7          audi        1.0
8          audi        1.0
9          audi        1.0
10          bmw        2.0

In [41]:
from sklearn.preprocessing import OneHotEncoder

oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(obj_df[["body_style"]])
pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_).head()

  convertible hardtop hatchback sedan wagon
0         1.0     0.0       0.0   0.0   0.0
1         1.0     0.0       0.0   0.0   0.0
2         0.0     0.0       1.0   0.0   0.0
3         0.0     0.0       0.0   1.0   0.0
4         0.0     0.0       0.0   1.0   0.0

In [42]:
obj_df = obj_df.join(pd.DataFrame(oe_results.toarray(), columns=oe_style.categories_))

In [43]:
import category_encoders as ce

# Get a new clean dataframe
obj_df = df.select_dtypes(include=['object']).copy()

# Specify the columns to encode then fit and transform
encoder = ce.BackwardDifferenceEncoder(cols=["engine_type"])
encoder.fit_transform(obj_df, verbose=1).iloc[:,8:14].head()

,engine_type_0,engine_type_1,engine_type_2,engine_type_3,engine_type_4,engine_type_5
0,-0.857143,-0.714286,-0.571429,-0.428571,-0.285714,-0.142857
1,-0.857143,-0.714286,-0.571429,-0.428571,-0.285714,-0.142857
2,0.142857,-0.714286,-0.571429,-0.428571,-0.285714,-0.142857
3,0.142857,0.285714,-0.571429,-0.428571,-0.285714,-0.142857
4,0.142857,0.285714,-0.571429,-0.428571,-0.285714,-0.142857

In [44]:
encoder = ce.PolynomialEncoder(cols=["engine_type"])
encoder.fit_transform(obj_df, verbose=1).iloc[:,8:14].head()

,engine_type_0,engine_type_1,engine_type_2,engine_type_3,engine_type_4,engine_type_5
0,-0.566947,0.545545,-0.408248,0.241747,-0.109109,0.032898
1,-0.566947,0.545545,-0.408248,0.241747,-0.109109,0.032898
2,-0.377964,0.000000,0.408248,-0.564076,0.436436,-0.197386
3,-0.188982,-0.327327,0.408248,0.080582,-0.545545,0.493464
4,-0.188982,-0.327327,0.408248,0.080582,-0.545545,0.493464

In [45]:
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

# for the purposes of this analysis, only use a small subset of features

feature_cols = [
    'fuel_type', 'make', 'aspiration', 'highway_mpg', 'city_mpg',
    'curb_weight', 'drive_wheels'
]

# Remove the empty price rows
df_ml = df.dropna(subset=['price'])

X = df_ml[feature_cols]
y = df_ml['price']

In [46]:

column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),
                                        ['fuel_type', 'make', 'drive_wheels']),
                                      (OrdinalEncoder(), ['aspiration']),
                                      remainder='passthrough')

In [47]:
linreg = LinearRegression()
pipe = make_pipeline(column_trans, linreg)

In [48]:
cross_val_score(pipe, X, y, cv=10, scoring='neg_mean_absolute_error').mean().round(2)

-2937.17