In [40]:
import pandas as pd
import numpy as np
#importing the dataset into kaggle
df = pd.read_csv("Test.csv")

In [41]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [42]:
import pandas as pd
data = pd.read_csv('Test.csv')
data = {'Item_Identifier', 'Item_Weight', 'Item_Fat_Content'}

pd.DataFrame(data)

                  0
0  Item_Fat_Content
1   Item_Identifier
2       Item_Weight

In [43]:
print(df.isnull().sum())

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [44]:
updated_df = df.dropna(axis=1)

In [45]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Fat_Content           5681 non-null   object
 2   Item_Visibility            5681 non-null   float64
 3   Item_Type                  5681 non-null   object
 4   Item_MRP                   5681 non-null   float64
 5   Outlet_Identifier          5681 non-null   object
 6   Outlet_Establishment_Year  5681 non-null   int64
 7   Outlet_Location_Type       5681 non-null   object
 8   Outlet_Type                5681 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 399.6+ KB

In [46]:
updated_df = df
updated_df['Item_Weight']=updated_df['Item_Weight'].fillna(updated_df['Item_Weight'].mean())
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                5681 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [47]:
updated_df = df
updated_df['Outlet_Size'] = updated_df['Outlet_Size'].isnull()
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy = 'median')

updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                5681 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                5681 non-null   bool
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 449.5+ KB

In [39]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
df.head()
testdf = df[df['Outlet_Location_Type'].isnull()==True]
traindf = df[df['Outlet_Location_Type'].isnull()==False]
y = traindf['Outlet_Location_Type']
traindf.drop("Outlet_Location_Type",axis=1,inplace=True)
# lr.fit(traindf,y)
testdf.drop("Outlet_Location_Type",axis=1,inplace=True)
# pred = lr.predict(testdf)
# testdf['Outlet_Location_Type']= pred
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Outlet_SizeMRP
0,False,Low Fat,0.007565,Snack Foods,False,OUT049,1999,False,Tier 1,Supermarket Type1,False
1,False,reg,0.038428,Dairy,False,OUT017,2007,True,Tier 2,Supermarket Type1,True
2,False,Low Fat,0.099575,Others,False,OUT010,1998,True,Tier 3,Grocery Store,True
3,False,Low Fat,0.015388,Snack Foods,False,OUT017,2007,True,Tier 2,Supermarket Type1,True
4,False,Regular,0.118599,Dairy,False,OUT027,1985,False,Tier 3,Supermarket Type3,False

In [48]:
traindf['Outlet_Type']=y

In [52]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

LogisticRegression()